<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedAnimals()" [disabled]="!selectedAnimals || !selectedAnimals.length"></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importar" class="mr-2 inline-block"></p-fileUpload> -->
          <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="animals" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['animal.animalCode','animal.animalNome','animal.animalDataNascimento','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedAnimals" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gerenciar Animais</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="code">Código <p-sortIcon field="code"></p-sortIcon></th>
              <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
              <th pSortableColumn="dataNascimento">Data de Nascimento <p-sortIcon field="dataNascimento"></p-sortIcon></th>
              <th pSortableColumn="cor">Cor <p-sortIcon field="cor"></p-sortIcon></th>
              <th pSortableColumn="tamanho">Tamanho <p-sortIcon field="tamanho"></p-sortIcon></th>
              <th pSortableColumn="especie">Espécie <p-sortIcon field="especie"></p-sortIcon></th>
              <th pSortableColumn="zoologico">Zoológico <p-sortIcon field="zoologico"></p-sortIcon></th>
              <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-animal>
          <tr>
            <td>
              <p-tableCheckbox [value]="animals"></p-tableCheckbox>
            </td>
            <td style="width:10%; min-width:10rem;">
              <span class="p-column-title">Código</span>
              {{animal.animalCode}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Nome</span>
              {{animal.animalNome}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Data de Nascimento</span>
              {{animal.animalDataNascimento}}
            </td>
            <td style="width:14%; min-width:8rem;">
              <span class="p-column-title">Cor</span>
              {{animal.animalCor}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Tamanho</span>
              {{animal.animalTamanho}}
            </td>
            <td style="width:14%; min-width: 10rem;">
              <span class="p-column-title">Espécie</span>
              {{animal.especieNome}}
            </td>
            <td style="width:14%; min-width: 10rem;">
              <span class="p-column-title">Zoológico</span>
              {{animal.zoologicoNome}}
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editAnimal(animal)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteAnimal(animal)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="animalDialog" [style]="{width: '600px'}" header="Detalhes do Animal" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="formgrid grid">
          <div class="field col">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="animal.animalNome" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !animal.animalNome}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !animal.animalNome">Nome é obrigatório.</small>
          </div>
          <div class="field col-4">
            <label for="dataNascimento">Data de Nascimento</label>
            <!-- <input type="text" pInputText id="dataNascimento" [(ngModel)]="animal.animalDataNascimento" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !animal.animalDataNascimento}"/> -->
            <p-inputMask id="dataNascimento" [(ngModel)]="animal.animalDataNascimento" mask="99/99/9999" (ngModelChange)="checkDateValue($event)" class="{{animal.animalDataNascimento !== '' && animalDataNascimentoIsValid ? '' : 'ng-invalid ng-dirty'}}"></p-inputMask>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !animal.animalDataNascimento">Data de Nascimento é obrigatório.</small>
          </div>
        </div>
        
        <div class="formgrid grid">
          <div class="field col">
            <label for="cor">Cor</label>
            <input type="text" pInputText id="cor" [(ngModel)]="animal.animalCor" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !animal.animalCor}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !animal.animalCor">Cor é obrigatório.</small>
          </div>
          <div class="field col">
            <label for="tamanho">Tamanho</label>
            <input type="text" pInputText id="tamanho" [(ngModel)]="animal.animalTamanho" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !animal.animalTamanho}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !animal.animalTamanho">Tamanho é obrigatório.</small>
          </div>
        </div>

        <div class="field">
          <label for="description">Description</label>
          <textarea id="description" pInputTextarea [(ngModel)]="animal.animalDescricao" required rows="3" cols="20"></textarea>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="especieCode">Espécie</label>
            <input type="text" pInputText id="especieCode" [(ngModel)]="animal.especieCode" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !animal.especieCode}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !animal.especieCode">Espécie é obrigatório.</small>
          </div>
          <div class="field col">
            <label for="zoologico">Zoológico</label>
            <input type="text" pInputText id="zoologico" [(ngModel)]="animal.zoologicoCode" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !animal.zoologicoCode}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !animal.zoologicoCode">Zoológico é obrigatório.</small>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAnimal()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteAnimalDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="animal">Tem certeza de que deseja excluir <b>{{animal.animalNome}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteAnimalDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteAnimalsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Tem certeza de que deseja excluir os animais selecionados?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteAnimalsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
