<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedZoos()" [disabled]="!selectedZoos || !selectedZoos.length"></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Iportar" class="mr-2 inline-block"></p-fileUpload> -->
          <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="zoos" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['zoo.zologicoCode','zoo.zologicoCnpj','zoo.zologicoNome']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedZoos" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gerenciar Zoológicos</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon></th>
              <th pSortableColumn="cnpj">CNPJ <p-sortIcon field="cnpj"></p-sortIcon></th>
              <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
              <th pSortableColumn="endereco">Endereço <p-sortIcon field="endereco"></p-sortIcon></th>
              <th pSortableColumn="fornecedor">Fornecedor <p-sortIcon field="fornecedor"></p-sortIcon></th>
              <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-zoo>
          <tr>
            <td>
              <p-tableCheckbox [value]="zoos"></p-tableCheckbox>
            </td>
            <td style="width:10%; min-width:10rem;">
              <span class="p-column-title">Código</span>
              {{zoo.zoologicoCode}}
            </td>
            <td style="width:20%; min-width:10rem;">
              <span class="p-column-title">CNPJ</span>
              {{zoo.zoologicoCnpj}}
            </td>
            <td style="width:20%; min-width:10rem;">
              <span class="p-column-title">Nome</span>
              {{zoo.zoologicoNome}}
            </td>
            <td style="width:20%; min-width:8rem;">
              <span class="p-column-title">Endereço</span>
              {{zoo.logradouro}}
            </td>
            <td style="width:20%; min-width:10rem;">
              <span class="p-column-title">Fornecedor</span>
              {{zoo.fornecedorCode}}
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editZoo(zoo)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteZoo(zoo)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="zooDialog" [style]="{width: '600px'}" header="Detalhes do Zoológico" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="formgrid grid">
          <div class="field col">
            <label for="cnpj">CNPJ</label>
            <input type="text" pInputText id="cnpj" [(ngModel)]="zoo.zoologicoCnpj" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !zoo.zoologicoCnpj}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !zoo.zoologicoCnpj">CNPJ é obrigatório.</small>
          </div>
          <div class="field col">
            <label for="name">Nome</label>
            <input type="text" pInputText id="name" [(ngModel)]="zoo.zoologicoNome" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !zoo.zoologicoNome}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !zoo.zoologicoNome">Nome é obrigatório.</small>
          </div>
        </div>

        <div class="title my-4">
          <h5>Endereço</h5>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="pais">País</label>
            <input type="text" pInputText id="pais" [(ngModel)]="zoo.pais" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !zoo.pais}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !zoo.pais">País é obrigatório.</small>
          </div>
          <div class="field col">
            <label for="estado">Estado</label>
            <input type="text" pInputText id="estado" [(ngModel)]="zoo.estado" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !zoo.estado}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !zoo.estado">Estado é obrigatório.</small>
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="cidade">Cidade</label>
            <input type="text" pInputText id="cidade" [(ngModel)]="zoo.cidade" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !zoo.cidade}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !zoo.cidade">Cidade é obrigatório.</small>
          </div>
          <div class="field col">
            <label for="logradouro">Logradouro</label>
            <input type="text" pInputText id="logradouro" [(ngModel)]="zoo.logradouro" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !zoo.logradouro}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !zoo.logradouro">Logradouro é obrigatório.</small>
          </div>
        </div>

        <div class="field">
          <label for="complemento">Complemento</label>
          <input type="text" pInputText id="complemento" [(ngModel)]="zoo.complemento" autofocus/>
        </div>

        <div class="title my-4">
          <h5>Fornecedor</h5>
        </div>
        
        <div class="field">
          <label for="fornecedor">Fornecedor</label>
          <input type="text" pInputText id="fornecedor" [(ngModel)]="zoo.fornecedorCode" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !zoo.fornecedorCode}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !zoo.fornecedorCode">Fornecedor é obrigatório.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveZoo()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteZooDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="zoo">Tem certeza de que deseja excluir <b>{{zoo.zoologicoNome}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteZooDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteZoosDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Tem certeza de que deseja excluir os zoológicos selecionados?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteZoosDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
